/* body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  } */
  
  header {
    text-align: center;
    padding: 80px;
    background-color: #333; 
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); 
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .creatorstory {
    width: 300px;
    margin: 20px;
    background-color: #fff; 
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); 
    padding: 20px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s; 
    cursor: pointer;
    color: #333; 
  }
  
  .creatorstory img {
    width: 100%;
    max-height: 200px;
    border-radius: 8px; 
  }
  
  .creatorstory:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); 
    background-color: #444; 
    color: #fff; 
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #333; 
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.3); 
  }
  